&RUN_PARAMETERS
 RUN_NAME="runname",
 RESTART=T,
 T_START=0.0D0,
 T_END=3.0D0,
 DT_OUTPUT=5.0D-2,
 OUTPUT_CONS_FLAG=F,
 OUTPUT_ESRI_FLAG=F,
 OUTPUT_NETCDF_FLAG=T,
 OUTPUT_RUNOUT_FLAG=F,
 VERBOSE_LEVEL=0,
 /

&NEWRUN_PARAMETERS
 X0=x_min,
 Y0=y_min,
 COMP_CELLS_X=nx_cells,
 COMP_CELLS_Y=ny_cells,
 CELL_SIZE=dx,
 N_SOLID=0,
 N_ADD_GAS=0,
 RHEOLOGY_FLAG=F,
 ENERGY_FLAG=F,
 GAS_FLAG=F,
 LIQUID_FLAG=T,
 RADIAL_SOURCE_FLAG=F,
 COLLAPSING_VOLUME_FLAG=F,
 TOPO_CHANGE_FLAG=F,
 SLOPE_CORRECTION_FLAG=F,
 CURVATURE_TERM_FLAG=F,
 VERTICAL_PROFILES_FLAG=F,
 /

&RESTART_PARAMETERS
 RESTART_FILES="restartfile",
 /

&WEST_BOUNDARY_CONDITIONS
 H_BCW%FLAG=1,
 H_BCW%VALUE=0.0D0,
 HU_BCW%FLAG=1,
 HU_BCW%VALUE=0.0D0,
 HV_BCW%FLAG=1,
 HV_BCW%VALUE=0.0D0,
 T_BCW%FLAG=1,
 T_BCW%VALUE=0.0D0,
 /

&EAST_BOUNDARY_CONDITIONS
 H_BCE%FLAG=1,
 H_BCE%VALUE=0.0D0,
 HU_BCE%FLAG=1,
 HU_BCE%VALUE=0.0D0,
 HV_BCE%FLAG=1,
 HV_BCE%VALUE=0.0D0,
 T_BCE%FLAG=1,
 T_BCE%VALUE=0.0D0,
 /

&SOUTH_BOUNDARY_CONDITIONS
 H_BCS%FLAG=1,
 H_BCS%VALUE=0.0D0,
 HU_BCS%FLAG=1,
 HU_BCS%VALUE=0.0D0,
 HV_BCS%FLAG=1,
 HV_BCS%VALUE=0.0D0,
 T_BCS%FLAG=1,
 T_BCS%VALUE=0.0D0,
 /

&NORTH_BOUNDARY_CONDITIONS
 H_BCN%FLAG=1,
 H_BCN%VALUE=0.0D0,
 HU_BCN%FLAG=1,
 HU_BCN%VALUE=0.0D0,
 HV_BCN%FLAG=1,
 HV_BCN%VALUE=0.0D0,
 T_BCN%FLAG=1,
 T_BCN%VALUE=0.0D0,
 /

&TEMPERATURE_PARAMETERS
 /

&NUMERIC_PARAMETERS
 SOLVER_SCHEME="KT",
 DT0=1.0D-4,
 MAX_DT=2.0D-2,
 CFL=0.24D0,
 LIMITER=5*3,
 THETA=1.3D0,
 RECONSTR_COEFF=1.0D0,
 INTERFACES_RELAXATION=F,
 N_RK=2,
 /

&EXPL_TERMS_PARAMETERS
 GRAV=9.81D0,
 /

&RHEOLOGY_PARAMETERS
 RHEOLOGY_MODEL=0,
 /

&GAS_TRANSPORT_PARAMETERS
 SP_HEAT_A=998.0D0,
 SP_GAS_CONST_A=287.051D0,
 KIN_VISC_A=1.48D-5,
 PRES=101300.0D0,
 T_AMBIENT=300.0D0,
 ENTRAINMENT_FLAG=F,
 /

&LIQUID_TRANSPORT_PARAMETERS
 SP_HEAT_L=4200.0D0,
 RHO_L=1000.0D0,
 LOSS_RATE=0.0D0,
 KIN_VISC_L=1.0D-6,
 /
